{{!
    @template aiplacement_translate/action_button

    Reusable translate action button.

    Context variables:
    * isdropdown - Render as a dropdown item inside AI features menu

    Example context (json):
    {
        "isdropdown": true
    }
}}
<button class="{{#isdropdown}}dropdown-item{{/isdropdown}}{{^isdropdown}}btn btn-outline-secondary{{/isdropdown}} ai-translate-btn"
        type="button"
        title="{{#str}} translate_tooltips, aiplacement_translate {{/str}}"
        data-action="translate_text"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-controls="ai-translate-drawer"
        data-input-type="action"
        data-bs-delay="200">
    {{^isdropdown}}
        {{#pix}} i/multilang, core {{/pix}}
    {{/isdropdown}}
    {{#str}} translate, aiplacement_translate {{/str}}
</button>

